body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 5rem;
    font-weight: 600;
}

.float-center {
    float: center;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-right {
    justify-content: right;
}

.sans-serif {
    font-family: Helvetica, Arial, sans-serif;
}

.rotate {
    animation: rotate-clockwise 15s linear infinite;
}

@keyframes rotate-clockwise {
    from {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    to {
      transform: rotate(360deg); /* Rotate counterclockwise to -360 degrees */
    }  
}

.navbar {
    top: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 10%;
    z-index: 5;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.navbar-container {
    padding: 0 1.5%;
    display: flex;
    height: 100%;
    width: 25%;
    align-items: center;
}

.nav-buttons {
    height: 100%;
    list-style: none;
    display: flex;
}

.navbar-button {
    height: 100%;
    padding: 0px 10px; 
    font-size: 1vw;
    letter-spacing: 0.15vw;
    color: #000000;
    border: none;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: #D3D3D3;
}

.nav-toggle {
    display: none;
    font-size: 75%;
    color: #000000;
}


@media (max-width: 768px) {
    .nav-buttons {
      display: none;
      flex-direction: column;
      width: 100%;
    }

    .nav-buttons.active {
      display: block;
    }

    .nav-toggle {
      display: block;
    }
}

.nav-toggle.active + .nav-buttons {
    display: block;
}


.book-button {
    position: fixed;
    z-index: 3;
    background-color: #a8a7a7;
    bottom: 4em;  /* Distance from the bottom */
    right: 4em;   /* Distance from the right */
    padding: 1em 2em;
    font-size: 1.5rem;
    font-weight: 600;
    color: #f6f6f4;
    /*border: none;*/
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 80%;
    transition: opacity 0.3s ease;
}

.book-button:hover {
    opacity: 100%
}

.landing {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('landing.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.landing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0;  /* Start fully transparent */
    animation: fadeIn 3.5s forwards; /* Trigger the animation */
}

.welcome-container {
    text-align: center;
    position: relative;
    z-index: 3;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
.welcome {
    display: block;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    color: #e8175d;
    z-index: 1;
}

.welcome-subtitle {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.feed {
    height: 100vh;
    width: 100vw;
    border: 1px solid black;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.title {
    padding-top: 1em;
    padding-bottom: 1em;
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    color: #363636;
}

.services {
    background-color: #363636;
    border-radius: 35px;
    
    padding: 10px 10px;
}



.circular-img {
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    padding-top: 0.5em;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    color: #474747;
}

a:hover {
    text-decoration: underline;
}

.hours {
    padding-top: 0.25em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #e8175d;
}